*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator{
    width: 450px;
    height: 555px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 35%;
    border-radius: 20px;
    background: #b1b1b1;
    border: 5px solid #393939;
}
.calculator #display{
    width: 100%;
    padding: 5px;
    font-size: 50px;
    text-align: right;
    border-radius: 10px;
}
.calculator .key{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-around;
}
.key .btn{
    width: 80px;
    height: 80px;
    font-size: 40px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 50%;
}